.App {
  text-align: center;
  /* background-color: black; */
}
.loader{
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: "cinzel decorative";
  background-color:rgb(26, 27, 30);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.loader::after{
  content: "";
  color: white;
  width: 80px;
  height: 80px;
  border: 10px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-top-color: #2cee71;
  border-bottom-color: orangered;
  border-left-color: rgb(26, 27, 30);
  border-right-color: rgb(26, 27, 30);
  animation: loader .7s linear infinite;
  -webkit-animation: loader .7s linear infinite;
}
.wast{
  margin-top: -200px;
}
@keyframes loader {
  from{
    transform: rotate(0turn);
    -webkit-transform: rotate(0turn);
    -moz-transform: rotate(0turn);
    -ms-transform: rotate(0turn);
    -o-transform: rotate(0turn);
}
  to{
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
}
}